nav.navigation 
  .navigation_wrapper  

    ul.navigation_list 
      li.navigation_list_item
        a.navigation_list_link(href='/#section_2') Why Gasco?
      li.navigation_list_item
        a.navigation_list_link(href='/#services') Services
      li.navigation_list_item
        a.navigation_list_link(href='#team') Meet the Team
      li.navigation_list_item
        a.navigation_list_link(href='#media') Media
      li.navigation_list_item
        a.navigation_list_link(href='#apply') Apply

    a.home_link(href="/")
      img(src=logos.data.main_logo_horiz.url alt=logos.data.main_logo_horiz.alt)


    