nav.navigation 
  .navigation_wrapper  

    ul.navigation_list 
      li.navigation_list_item
        a.navigation_list_link(href='/#why_gasco') Why&nbsp;Gasco?
      li.navigation_list_item
        a.navigation_list_link(href='/#services') Services
      li.navigation_list_item
        a.navigation_list_link(href='about') About&nbsp;Us
      li.navigation_list_item
        a.navigation_list_link(href='media') Media
      li.navigation_list_item
        a.navigation_list_link(onclick="div_show()") Apply

    a.home_link(href="/")
      img(src=logos.data.main_logo_horiz.url alt=logos.data.main_logo_horiz.alt)


    