script.
  let things = document.querySelectorAll(".blurry");
  const clientHeight = document.documentElement.clientHeight;

  function checkScrollThing() {
    things.forEach(thing => {
      const vH = document.documentElement.clientHeight;
      //- console.log(clientHeight);
      const thingTop = thing.getBoundingClientRect().y;
      //- console.log(thingTop);
      const thingBottom = thing.getBoundingClientRect().bottom;
      //- console.log(thingBottom);

      if (thingTop < vH) {
        thing.classList.add("unblur");
        thing.classList.remove("blurry");
      }
    })
  }

  window.addEventListener('scroll', checkScrollThing, false);
  window.addEventListener('resize', checkScrollThing, false);