script.
  //functions for onclick for form.
  const div_show = () => {
      document.getElementById('form_full').style.display = "block";
  }
  //Function to Hide Popup
  const div_hide = () => {
    document.getElementById('form_full').style.display = "none";
  }