div.section.about_banner {
  background-size: cover;
  background-position: bottom;
  height: 90vh;
  align-items: flex-end;
  justify-content: space-between;
  h2 {
    font-size: 2.8rem;
    margin: 5%;
  }
}

div.section.team {
  text-align: center;
  flex-flow: column nowrap;
  height: fit-content;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
  button {
    width: 60%;
    margin: 5%;
  }
}

div.section.maps {
  display: block;
  padding: 2%;
  text-align: center;
  background-color: $darkblue;
  height: 90vh;
  color: white;
  h2 { transform: translateY(14vh);}
  .maps_wrapper {
    height: 90%;
    margin: 0 auto;
    background-color: $darkblue;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    .map {
      transition: .4s;
      h1 {
        transform: translateY(20vh);
        margin: 3%;
      }
      img {
        width: 25vw;
        height: 25vw;
      }
    }
    .map:hover {
      transform: scale(1.1);
      text-shadow: -.5rem -.5rem 0 $midblue;
    }
  }
  @media all and (max-width: $medium)  {
    max-height: 55vh; 
  }
  @media all and (max-width: $small)  {
    max-height: 70vh;
    h2 { transform: translateY(7vh);} 
    .maps_wrapper {
      flex-flow: column nowrap;
      h1 { transform: translateY(16vh);}
    }
  }
}

div.section.quote {
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  height: fit-content;
  max-height: 40vh;
  img {
    max-width: 25vw;
    height: auto;
  }
  div.quote_text {
    max-width: 60%;
    padding: 10px;
    border-right: 4px solid $darkblue;
  }
  @media all and (max-width: $medium) {
    flex-flow: row wrap;
  }
}
