div.section {
  height: 95vh;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  div.image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  div.section_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
    button,div {
      margin-left: 20px;
      max-width: 80%;
  }
  }
  div.section_dark {
    color: $whiteblue;
    background-color: $darkblue;
  }
}
div.section_1 h1 {
  font-size: 6.5rem;
}