div.media_section {
  width: 100vw;
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transform: translateY(10vh);
  justify-content: space-evenly;

  iframe {
    max-width: 98vw;
  }
}

div.photo_gallery {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  align-items: center;
  img {
    height: 500px;
    width: auto;
    margin: 1rem;
  }
}

@include media('<medium') {
  div.photo_gallery {
    img {
      height: 60vh;
    }
  }
}

