nav.navigation {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: $whiteblue;

  .navigation_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  a.home_link {
    height: 100%;
    img { height: 100%;}
  }

  ul.navigation_list {
    font-size: 1.5rem;
    list-style-type: none;
    list-style: none;

    li.navigation_list_item {
      color: $midblue;
      margin-left: 30px;
      display: inline;
      text-decoration: none;
      a.navigation_list_link {} 
    }
  }
}