nav.navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 10vh;
  width: 100vw;
  background-color: $whiteblue;

  .navigation_wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a.home_link {
      height: 90%;
      img { height: 100%;}
    }
    @include media('<=medium') {
      a.home_link {
        height: 50%;
      }
    }
    @include media('<=small') {
      flex-flow: column-reverse nowrap;
      ul.navigation_list li.navigation_list_item {
        margin: 0 .7rem;
      }
    }
  }
  
  ul.navigation_list {
    list-style-type: none;
    list-style: none;

    li.navigation_list_item {
      margin-left: 30px;
      display: inline;
  
      a.navigation_list_link {
        color: $midblue;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    li.navigation_list_item>a:hover, li.navigation_list_item>a:focus {
      color: $darkblue;
    }
  }
}




