div.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  div.preloader-wrapper {
    background-color: white;
    width: 50%;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    animation: 2.5s preLoader forwards linear;
    p.preloader_text {
      color: blue;
    };
    div.preloader_number {
      color: blue;
    };
  }
}

@keyframes preLoader {
  0% {
    border: 100px solid lightblue;}
  60% {
    border: 1px solid lightblue;
    opacity: 1;}
  99% {
    border: 100px solid lightblue;
    display: block;
    opacity: 0;}
  100% {
    display: none;
    opacity: 0;}
}
