.blurry {
  filter: blur(2rem);
  transform: translateX(2rem);
}
.unblur {
  animation: unblur 1.5s ease-out forwards;
}

@keyframes unblur {
  from {
    filter: blur(2rem);
    transform: translateX(50px);
  }
  to { 
    filter: blur(0);
    transform: translateX(0px);
  }
}