// Buttons

button {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Dunbar Text', Helvetica, sans-serif;
  background-color: white;
  color: $darkblue;
  border: 2px solid $darkblue;
  margin: 10px;
  height: 5rem;
  width: 25rem;
  border-radius: 2.5rem;
  //center text
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}
button.dark {
  background-color: $darkblue;
  color: white;
  border-color: white;
}
button:hover, button:focus {
  transform: scale(1.04);
  color: $midblue;
  border-color: $midblue;
}
button.dark:hover, button.dark:focus {
  color: $whiteblue;
  border-color: $whiteblue;
}

a {
  color: unset;
  text-decoration: unset;
}

//Text

h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
}
h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
h4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.2rem;
}
h5 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.2rem;
}
h6 {
  font-size: 1.4rem;
}
p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.text_white {
  color: white !important;
}
.text_midblue {
  color: $midblue !important;
}
.text_light {
  color: $lightblue !important;
}
.text_dark {
  color: $darkblue !important;
}

@media all and (max-width: $medium) {}
@media all and (max-width: $small) {
  button {
    font-size: 1.4rem;
    border: 1px solid $darkblue;
    margin: .6rem;
    height: 3rem;
    width: 14rem;
    border-radius: 1.5rem;
  }
}


// Fonts added:

// Dunbar Low Book
// font-family: dunbar-low, sans-serif;
// font-weight: 400;
// font-style: normal;


// Dunbar Low Bold
// font-family: dunbar-low, sans-serif;
// font-weight: 700;
// font-style: normal;

// Dunbar Low Book Italic
// font-family: dunbar-low, sans-serif;
// font-weight: 400;
// font-style: italic;

// Dunbar Low Bold Italic
// font-family: dunbar-low, sans-serif;
// font-weight: 700;
// font-style: italic;

// Dunbar Tall Book
// font-family: dunbar-tall, sans-serif;
// font-weight: 400;
// font-style: normal;

// Dunbar Tall Bold
// font-family: dunbar-tall, sans-serif;
// font-weight: 700;
// font-style: normal;

// Dunbar Tall Book Italic
// font-family: dunbar-tall, sans-serif;
// font-weight: 400;
// font-style: italic;

// Dunbar Tall Bold Italic
// font-family: dunbar-tall, sans-serif;
// font-weight: 700;
// font-style: italic;

// Dunbar Text Regular
// font-family: dunbar-text, sans-serif;
// font-weight: 500;
// font-style: normal;

// Dunbar Text Bold
// font-family: dunbar-text, sans-serif;
// font-weight: 700;
// font-style: normal;

// Dunbar Text Italic
// font-family: dunbar-text, sans-serif;
// font-weight: 500;
// font-style: italic;

// Dunbar Text Bold Italic
// font-family: dunbar-text, sans-serif;
// font-weight: 700;
// font-style: italic;