// colors
$darkblue: #0D3958;
$midblue: #2D88C4;
$lightblue: #73BFE6;
$whiteblue: #CBE1F0;
$white: #FFFFFF;
$lightgrey: #DEDEDE;
$grey: #758A96;


//variables
$small: 550px;
$medium: 900px;
$large: 1550px;