extends ../base.pug

block variables 
  - var template = 'apply'

block content 
  .apply
    .form_wrapper(style='background-image: url(' + photos.data[10].url + ')' alt=photos.data[10].alt)
      form(action="https://formspree.io/f/xgerpdkr" method="POST")
        h1.text_light Congratulations!
        h5 You're making a huge step in the home-buying experience.
        input(type="text" name="Name" placeholder="Name" required)
        input(type="email" name="Mail" placeholder="Email" required)
        input(type="text" name="Phone" placeholder="Phone")
        div
          input(type="text" name="Annual Income" placeholder="Annual Income")
          input(type="text" name="Loan Amount" placeholder="Loan Amount")
          input(type="text" name="Credit Score" placeholder="Credit Score")
        textarea(id="msg" name="Message" placeholder="Anything else we should know?" rows="4" required)
        button.dark(type="submit"  onclick="check_empty()") SEND
        div.call_text
          h2 CANT WAIT?
          hr
          h2 Text 'LOANAPP' to +1-833-GASCOGG
          p
          h5 To complete a loan application immediately.
          p
          h5 OR
          button.dark#call
            a(href="tel:+1-833-427-2644") CALL NOW
        