extends ../base.pug

block variables 
  - var template = 'media'

block content 
  .media
    .media_wrapper
      .media_section
          h1.blurry#fadeIn Videos
          iframe(title="vimeo-player" src="https://player.vimeo.com/video/600487955?h=7223c68293" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture")
            a(href="https://vimeo.com/600487955") Greg Gasco Home Loans | Liz Aguilar
            p from
            a(href="https://vimeo.com/edcfilm") Evan Christensen
            p on
            a(href="https://vimeo.com") Vimeo.
          h6 More videos coming soon...
        
      //- .media_section
      //-   h1.blurry 
        //- p [ Scroll right for more... ]
        //- .photo_gallery
        //-   each i in media.data.photo_gallery
        //-     img(src=i.image.url alt=i.image.alt)
        