@import './reset.scss';
@import 'https://use.typekit.net/vae5vru.css';
@import './global/index.scss';
@import './partials/index.scss';
@import './pages/index.scss';

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    //convert rem to 10px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Dunbar Text', Helvetica, sans-serif;
    color: $darkblue;
}

//media queries
// 1700
// 900
@media screen and (max-width: $medium) {
    html { font-size: 52%}
    //logo smaller
    //
}
@media screen and (max-width: $small)  {
    html { font-size: 40%; }
}

